.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #00000000;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
